:root {
    --bg-nav: rgb(37, 31, 53); /* Color Nav */
    --shadow-box: 0 3px 4px 1px rgb(214, 214, 214);
}

* {
     margin: 0;
     padding: 0;
}

body {
    font-family: rubik, sans-serif;
}

#main {
    /* border: 3px solid lightblue; */
    display: grid;
    /* grid-row-gap: 15px; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas:
        'logo header header header'
        'photo konten konten konten'
        'footer footer footer footer';
}

#main #logo-box {
    /* border: 3px solid lightpink; */
    background-color: var(--bg-nav);
    grid-area: logo;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

#logo-box img {
    max-width: 100%;
    width: 100px;
    height: auto;
}

#main #menus-box {
    /* border: 3px solid #90ee90; */
    background-color: var(--bg-nav);
    padding: 2% 0;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#menus-box a {
    border: 2px solid transparent;
    margin: 0 2%;
    padding: 10px 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: white;
}

#menus-box .active {
    border: 2px solid white;
    border-radius: 2px;
}

#menus-box a:hover {
    border-bottom: 2px solid white;
    border-radius: 2px;
    background-color: white;
    color: var(--bg-nav);
}

/* Properti Grid-Item Photo-Box */
#main #photo-box {
    /* border: 3px solid red; */
    grid-area: photo;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#photo-box #card {
    /* border: 1px solid rgb(221, 221, 221); */
    border-radius: 10px;
    /* position: fixed; */
    /* width: 100%; */
    box-shadow: var(--shadow-box);
}

#card #photo-div {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: var(--bg-header-card); */
}

#photo-div p {
    font-size: 14px;
    text-transform: capitalize;
    padding: 20px;
}

#photo-div #image {
    /* border: 2px solid black; */
    /* position: relative;
    top: 15px; */
    border-radius: 50%;
    max-width: 100%;
    width: 150px;
    height: auto;
    margin: 20px;
}

#card #title-div {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 45px; */
    padding-bottom: 20px;
}

#title-div .name {
    display: flex;
    flex-direction: row;
}

.name h2 {
    color: rgb(46, 46, 46);
}

.name h2, .name p {
    text-transform: capitalize;
    font-size: 18px;
    padding: 5px;
}

#title-div .recidence {
    display: flex;
    flex-direction: row;
}

.recidence p {
    font-size: 14px;
    padding: 5px;
}

#card #content {
    border-top: 1px solid rgb(221, 221, 221);
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
}

#content h3 {
    color:rgb(46, 46, 46);
}

#content h3, #content p {
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px;
}
/* ============================ */

/* Properti Grid-Item Tribute-Info */
#main #tribute-info {
    /* border: 3px solid yellow; */
    border-top: 1px solid rgb(221, 221, 221);
    grid-area: konten;
    display: flex;
    padding: 20px
}

#tribute-info #tribute-box {
    /* border: 3px solid wheat; */
    border-radius: 10px;
    width: 100%;
    box-shadow: var(--shadow-box);
}

#tribute-box #img-div {
    /* border: 3px solid salmon; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#img-div #image{
    max-width: 100%;
    width: 650px;
    height: auto;
}

#img-div #image-caption {
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

#tribute-box #content-article {
    /* border: 3px solid chartreuse; */
    /* text-align: justify; */
    padding: 0 3%;
    padding-bottom: 5vh;
}

#content-article #h-div {
    border-left: 1px solid gray;
    padding: 0 1%;
}

#h-div #p-div {
    border-left: 1px solid gray;
    margin: 0 2%;
    padding: 0 1%;
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 25px;
}
/* ============================ */

#main #footer-div {
    /* border: 3px solid blue; */
    background: var(--bg-nav);
    grid-area: footer;
    position: relative;
    top: 100%;
    width: 100%;
}

#footer-div #footer-nav {
    /* border: 3px solid orange; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 13%;
}

#footer-nav a {
    margin: 1% 0;
}

#footer-div #copyright {
    text-align: right;
    padding: 10px;
}

@media (max-width: 500px) {
    #main {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        grid-template-areas:
        'logo logo logo logo'
        'header header header header'
        'photo photo photo photo'
        'konten konten konten konten'
        'footer footer footer footer';
    }

    #main #menus-box {
        justify-content: center;
    }

    #main #logo-box {
        padding: 5px;
        text-align: center;
    }

    #menus-box a {
        margin: 0 1%;
        font-size: 12px;
    }
}
